:root {
    --bgheader: #28a55c;
    --bgbody: #d4ecb9;
}

body{
    background-color: var(--bgbody);

}

header{
    background-color: var(--bgheader);
    width: 100%;
    height: 50px;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;


}
#menu {
    display: inline;
    text-align: center;
}

#menu ul li {
        text-decoration: none;
        font-size: 16px;
        display: inline;
        text-align: center;

}
#menu li a{
    text-align: center;
    display: inline;
    color:white;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

#menu li a:hover{
    background:black ;
    color:white;
    padding-left:30px;
    padding-right:30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.action-button {
    border: none;
    border-radius: 1cm;
      color: rgb(8, 8, 8);
      padding: 7px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 5px;
      cursor: pointer;
      background-color: rgb(111, 224, 200);
    }

    .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: 16px;
        
    }

    .input-container label {
        font-weight: 700;
    }

    .form-container {
        width: 50%;
        margin: 0 auto;
        background-color: #e5e9e6;
        padding: 2rem;
    }

    .buttons-wrapper {
        float: right;
    }

    .title-container {
        margin-top: 5rem;
        text-align: center;
    }

    .button-container {
        text-align: center;
    }